<!--
Taken from Core Servlets and JavaServer Pages
from Prentice Hall and Sun Microsystems Press,
http://www.coreservlets.com/.
(C) 2003 Marty Hall and Larry Brown;
may be freely used or adapted.
-->
<FORM ACTION="http://localhost:8088/SomeProgram" ENCTYPE="multipart/form-data" METHOD="POST">
  Enter data file below:<BR> <INPUT TYPE="FILE" NAME="fileName">
  <input type="submit" value="CLick">
</FORM>