<!--
Taken from Core Servlets and JavaServer Pages
from Prentice Hall and Sun Microsystems Press,
http://www.coreservlets.com/.
(C) 2003 Marty Hall and Larry Brown;
may be freely used or adapted.
-->
Server-side Languages:
<SELECT NAME="language">
  <OPTGROUP LABEL="Common Servlet Languages">
    <OPTION VALUE="java1">Java
  </OPTGROUP>
  <OPTGROUP LABEL="Common CGI Languages">
    <OPTION VALUE="c">C
    <OPTION VALUE="c++">C++
    <OPTION VALUE="java2">Java
    <OPTION VALUE="perl">Perl
    <OPTION VALUE="vb">Visual Basic
  </OPTGROUP>
</SELECT>